 .structure-view {
   padding: 16px;
   color: var(--color-text);
   height: 100%;
   overflow: auto;

   ul {
     list-style-type: none;
     padding-left: 18px;
     margin: 0;
   }

   li {
     position: relative;

     .node-content {
       display: flex;
       align-items: center;
       padding: 5px 5px;
       cursor: pointer;
       border-radius: 4px;
       border: 1px solid var(--color-surface-1);
       background-color: var(--color-surface-2);
       transition: background-color 0.2s ease;
       margin-bottom: 5px;

       &:hover {
         background-color: var(--color-surface-2);
       }

       position: relative;

       &::before,
       &::after {
         content: '';
         position: absolute;
         left: -15px;
       }

       &::before {
         border-top: 1px solid var(--color-border);
         top: 12px;
         width: 10px;
         height: 0;
       }

       &::after {
         border-left: 1px solid var(--color-border);
         height: 100%;
         width: 0px;
         top: -5px;
       }

       &:last-child::after {
         height: 18px;
       }
     }

     .node-toggle {
       width: 16px;
       display: inline-flex;
       align-items: center;
       justify-content: center;
       color: var(--color-text-2);

       .no-toggle {
         width: 16px;
       }
     }

     .node-icon {
       margin: 0 6px;
       color: var(--color-secondary);
       display: inline-flex;
       align-items: center;
     }

     .node-tag {
       padding: 2px 5px;
       font-size: 0.8em;
       line-height: 1;
       line-height: 1;
       font-weight: 500;
       color: var(--color-text-2);
       // background-color: var(--color-primary-light);
     }

     .node-class {
       font-size: 0.8em;
       line-height: 1;
       color: var(--color-text-2);
       background-color: var(--color-surface-2);
       padding: 2px 5px;
       border-radius: 3px;
     }
   }
 }