// Info Panel styles
.panel-info {
    background-color: var(--color-surface-4);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 12px 12px;

    .panel__left {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .panel__right {
        display: flex;
        align-items: center;
        gap: 12px;

        .panel__btn {
            padding: 4px 12px;
            line-height: 1;
            text-decoration: none;

            &:hover {
                background-color: var(--color-primary-dark);
            }

            &:focus {
                outline: none;
            }

            &--ai {
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }

        .panel__text {
            font-size: 0.75rem;
            color: var(--color-text-2);
            font-weight: 500;
        }
    }

    .panel__btn--ai {
        .beta {
            font-size: var(--text-xs);
            background-color: var(--color-primary);
            color: var(--color-text-dark);
            padding: 2px 6px;
            border-radius: 4px;
        }
    }
}

.spinning {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}