* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {}


html,
body {
  font-family: var(--font-family);
  line-height: 1.4;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}