// Import partials
@import './styles/variables';
@import './styles/base';
@import './styles/buttons';
@import './styles/modals';

// Note: Additional partials (_header, _forms, _panels) need to be extracted
// from the original GeneratorComponent.scss file. This is a starting point
// Showing the pattern for modular SCSS organization.